{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}

<div class="seven columns centered panel">
  <form action="" method="post">
    {% csrf_token %}
    <h3>Password Recovery</h3>

    <div class="row collapse fieldWrapper">
      {{ form.username.errors }}
      <div class="three columns">
        <label for="id_username">Username</label>
      </div>
      <div class="nine columns">
        {{ form.username }}
      </div>            
    </div>
    <div class="row collapse fieldWrapper">
      {{ form.email.errors }}
      <div class="three columns">
        <label for="id_email">Email</label>
      </div>
      <div class="nine columns">
        {{ form.email }}
      </div>            
    </div>
    <button type="submit" class="radius button">Submit</button>
    <div class="right">
    <a href="/users/sign_up">Don't have an account?</a><br/>
    <a href="/users/sign_in">Already have an account?</a>
    </div>
  </form>
</div>

{% endblock %}