{% extends '../templates/base.html' %}
{% block content %}
	<!-- 		sss -->
			<h1>Meet the We Trade Fun Team</h1>
			<div class="row">
				<table class="twelve columns">
					<tbody>
						<tr>
							<td>Erik Parreira</td>
							<td>Project Manager</td>
							<td>epinlb@gmail.com</td>
							<td>Enjoys videogames, coffee, and large shoes.</td>
						</tr>
						<tr>
							<td>Sorin Cheriji</td>
							<td>User Interface Specialist</td>
							<td>sorcher@gmail.com</td>
							<td>Has better facial hair than you.</td>
						</tr>
						<tr>
							<td>Ellis Bigelow</td>
							<td>User Interface Specialist</td>
							<td>ellisbigelow@gmail.com</td>
							<td>Chases squirrels and befriends rabbits.</td>
						</tr>
						<tr>
							<td>Ching-yao Liu</td>
							<td>Database Specialist</td>
							<td>leoliu@gmail.com</td>
							<td>He is truely the database specialist.</td>
						</tr>
						<tr>
							<td>Cesar de la Vega</td>
							<td>Software Development Lead</td>
							<td>cesarvegaro@gmail.com</td>
							<td>Ultimate Guru.</td>
						</tr>
						<tr>
							<td>Victor Espinel</td>
							<td>Senior System Analyst</td>
							<td>lopol91@gmail.com</td>
							<td>Victor es numero uno.</td>
						</tr>
						<tr>
							<td>Anurag Kalavakunta</td>
							<td>Algorithms Specialist</td>
							<td>gotcha84@gmail.com</td>
							<td>Sarchasm detector.</td>
						</tr>
						<tr>
							<td>Andre So</td>
							<td>Quality Assurance Lead</td>
							<td>andrektso@gmail.com</td>
							<td>Scoffs cheese in his spare time.</td>
						</tr>					
					</tbody>
				</table>
			</div>
			<div class="panel">
				<h1>Do you have any comments or questions?</h1>
				<form action="" method="POST">
					<div class="row">{{ form }}</div>
					<div class="row">
						<button type="submit" class="right radius button">Submit</button>
					</div>
				</form>
			</div>

{% endblock %}