{% extends '../templates/base.html' %}
{% block content %}
<div class="row">
	<div class="four columns">
		<h3>Our Mission</h3>
		<p>
			At We Trade Fun, our goal is to connect used game enthusiasts. In the past, the easiest way to find a copy of an old console game was to head to your local game store. Not only do they charge unfair prices for old games, if you're just looking to beat the game in a week and sell it back, they'll only refund a fraction of the cost. Our site allows users to pass along classic games that they may not need anymore, and in return receive something of the same quality.
		</p>
	</div>
	<div class="four columns">
		<h3>First Steps</h3>
		<p>
			To start, simply create an account, it only takes about 10 seconds. If you're looking to get rid of some games, go to "Account Management" and post a listing or two. If you're looking to get a specific game immediately, search for a game and make an offer. If there aren't any copies available go ahead and add it to your wishlist, and you'll be able to monitor our stock from "Account Management."
		</p>
	</div>
	<div class="four columns">
		<h3>How Does it Work?</h3>
		<p>
			When you make an offer to a game, all users with that game recieve that offer. You can add a message to your offer to try to convince at least one of those users that your offer is worthwhile. It is recommended that you include the condition of your game, but the rest of the message is up to you. If one of the users with that listing accepts your offer, they will respond with a message about their game to assure you that they have the best listing. You may now choose to confirm and finalize the trade, or you can decline their offer if it is unsatisfactory.
		</p>
	</div>
</div>
{% endblock %}
